<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">

    <link href="/Project/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Project/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Project/static/css/style-home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>
<!-- Left column -->
<div class="flex-row">
    <div class="sidebar">
        <header class="site-header">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/Project/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>
                <li><a href="/adv/home"><i class="fa fa-home fa-fw"></i>用户主页</a></li>
                <li><a href="/adv/adv_submit"><i class="fa fa-file fa-fw"></i>广告提交</a></li>
                <li><a href="#"><i class="fa fa-list fa-fw"></i>安全中心</a></li>
                <li><a href="#" class="active"><i class="glyphicon glyphicon-info-sign" style="margin-right: 15px"></i>私信</a>
                </li>
                <li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
                <li><a href="/adv/login"><i class="fa fa-eject fa-fw"></i>退出登录</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 " style="background: whitesmoke ;">
        <nav class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">公司主页</a></li>
                        <li><a href="">动态信息</a></li>
                        <li><a href="">任务栏</a></li>
                        <li><a href="login.html">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>

        <div class="ad-info white-bg" style="padding: 30px 30px 100px 30px ; border-radius: 10px;
         position: relative;
         margin: 20px;
         box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);">
            <!--<div class="panel-heading">-->
                <!--<span class="glyphicon glyphicon-envelope"></span> 私信-->
                <!--<button class="btn btn-primary" style="float: right;width: 160px;height: 43px">写私信</button>-->
            <!--</div>-->

            <div class="panel panel-default chat">
                <div class="panel-heading" id="accordion"><span
                        class="glyphicon glyphicon-comment"></span>司机ID: {{ receiver_ID }}
                </div>

                <div class="panel-body" style="height:420px;">
                    <ul id="message_ul">

                    </ul>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-md" placeholder="输入内容..."/>
							<span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-chat" onclick="send_message()">发送
                                </button>
							</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- JS -->
<script src="/Project/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/Project/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script src="/Project/static/js/bootstrap.min.js"></script>
</body>
</html>