<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style-home.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>
<!-- Left column -->
<div class="flex-row">
    <div class="sidebar">
        <header class="site-header">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>
                <li><a href="home"><i class="fa fa-home fa-fw"></i>个人主页</a></li>
                <li><a href="security.html" class="active"><i class="fa fa-database fa-fw"></i>安全中心</a></li>
                <li><a href="#"><i class="fa fa-map-marker fa-fw"></i>消息中心<span class="badge pull-right"
                                                                                style="padding: 6px 12px;border-radius: 12px">6</span></a>
                </li>
                <li><a href="#"><i class="fa fa-cab fa-fw"></i>时间安排</a></li>
                <li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
                <li><a href="login.html"><i class="fa fa-eject fa-fw"></i>退出登录</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 light-gray-bg">
        <div class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">用户首页</a></li>
                        <li><a href="">动态信息</a></li>
                        <li><a href="">任务栏</a></li>
                        <li><a href="login.html">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="indivisual-security-main">
            <div class="indivisual-security-info col-md-12" style="padding: 30px 40px">
                <p><strong style="font-size: 27px">找回交易密码</strong></p>
            </div>
            <div class="col-md-12" style="background-color: #fff;padding: 0;">
                <ul class="step-list">
                    <li class="step-1 col-md-4 on">
                        <span class="num">01</span>
                        <span class="text">身份验证</span>
                        <span></span>
                    </li>
                    <li class="step-2 col-md-4">
                        <span class="num">02</span>
                        <span class="text">设置交易密码</span>
                        <span></span>
                    </li>
                    <li class="step-3 col-md-4">
                        <span class="num">03</span>
                        <span class="text">成功</span>
                        <span></span>
                    </li>
                    <div style="clear: both"></div>
                </ul>
                <div style="clear: both"></div>
            </div>

            <!--身份验证-->
            <div class="col-md-12 modify-box" id="step1" data-index="1">
                <form action="" class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="phoneNum" class="col-md-4" style="text-align: right">手机号码:</label>
                            <p style="display: inline-block" id="phoneNum" class="col-md-3">123*********23</p>
                            <input type="button" class="btn btn-primary col-md-5" id="getID" style="width: 155px" value="获取验证码">
                        </div>


                        <div style="clear: both"></div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="con-pwd" class="col-md-4" style="text-align: right">验证码:</label>
                            <input type="password" id="con-pwd" class="col-md-5 " placeholder="请输入验证码">
                        </div>
                        <div style="clear: both"></div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="IDCard" class="col-md-4 " style="text-align: right">身份证号码:</label>
                            <input type="text" id="IDCard" placeholder="请输入您的身份证号码" class="col-md-5 ">
                        </div>
                        <div style="clear: both"></div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center;margin-top: 20px" >
                            <input type="submit" value="下一步" class="btn btn-primary" style="width: 180px;height: 50px;">
                        </div>
                    </div>

                </form>

            </div>
            <!--设置新密码-->
            <div class="modify-box" id="step2"></div>
            <!--成功修改-->
            <div class="modify-box" id="step3"></div>

        </div>
    </div>
</div>

<!-- JS -->
<script src="/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script>
    var wait = 60;
    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value = "免费获取验证码";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value = wait + "秒后可以重新发送";
            wait--;
            setTimeout(function () {
                        time(o)
                    },
                    1000)
        }
    }
    $(document).ready(function () {
        $("#getID").click(function () {
            time(this);
        })
    })
</script>

</body>
</html>