<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD管理平台</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/datepicker3.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet" >
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span>MovingAD</span>管理平台</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> {{ adm_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 个人信息</a></li>
                        <li><a href="#" onclick="clearNewMessageRemind();hideredspot();return false;"><span class="glyphicon glyphicon-cog"></span> 私信</a></li>
                        <li><a href="/admin/login"><span class="glyphicon glyphicon-log-out"></span> 退出账号</a></li>
                    </ul>
                </li>
            </ul>
            <i id="redspot" style="display:none;background:#f00;border-radius:50%;width:10px;height:10px;top:20px;right:10px;position:absolute;"></i>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar"  style="z-index:-1">

    <form role="search">
        <div class="form-group">
            <input type="text" id="tags" placeholder="搜索" class="form-control" style="width:135px;display:inline">  <input type="button" style="display:inline" class="btn btn-primary" value="跳转" id="btn" />
        </div>
    </form>

    <ul class="nav menu">
        <li><a href="/admin/index"><span class="glyphicon glyphicon-dashboard"></span> 主页</a></li>


        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 管理操作 <span data-toggle="collapse" href="#sub-item-1"
                                                                          class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul id="sub-item-1">
                <li class="active">
                    <a class="" href="/admin/show_drivers">
                        <span class="glyphicon glyphicon-share-alt"></span> 司机用户管理
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/show_advters">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告商用户管理
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/show_advs">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list-alt"></span> 查看记录 <span data-toggle="collapse" href="#sub-item-2"
                                                                          class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li>
                    <a class="" href="/admin/drivers_history">
                        <span class="glyphicon glyphicon-share-alt"></span> 司机领取广告记录
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/advs_history">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告被领取记录
                    </a>
                </li>

            </ul>
        </li>
        <li><a href="/admin/notice"><span class="glyphicon glyphicon-info-sign"></span> 系统通知</a></li>
    </ul>

    <div class="attribution">Copyright © 2016 专业方向综合MovingAD项目组</div>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">司机用户管理</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"> 用户详细信息</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="account">手机号</label>
                                <div class="col-md-4">
                                    <input id="account" readonly name="account" type="text"
                                           placeholder={{ phone }} class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="status">状态</label>
                                <div class="col-md-4">
                                    <input id="status" readonly name="status" type="text"
                                           placeholder={{ flag }} class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">姓名</label>
                                <div class="col-md-4">
                                    <input id="name" readonly name="name" type="text"
                                           placeholder={{ name }} class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="drivernum">身份证编号</label>
                                <div class="col-md-4">
                                    <input id="drivernum" readonly name="drivernum" type="text"
                                           placeholder={{ user_id }} class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="carnum">行驶证编号</label>
                                <div class="col-md-4">
                                    <input id="carnum" readonly name="carnum" type="text" placeholder="1234567890"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="driverphoto">驾驶证照片</label>
                                <div class="col-md-4">
                                    <img id="driverphoto" src="/static/image/permit_card/{{ permit_image }}"
                                         height="150" width="200"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="carphoto">身份证证照片</label>
                                <div class="col-md-4">
                                    <img id="carphoto" src="/static/image/ID_card/{{ ID_card_image }}" height="150"
                                         width="200"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="carphoto">图片3</label>
                                <div class="col-md-4">
                                    <img id="carphoto" src="/static/image/ID_card/{{  }}" height="150"
                                         width="200"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="drivernum">是否自备IPAD</label>
                                <div class="col-md-4">
                                    <input type="radio" name="ipad" value="1" disabled="disabled"/> 有
                                    <input type="radio" name="ipad" value="0" disabled="disabled"/> 无

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="message">备注</label>
                                <div class="col-md-4">
										<textarea class="form-control" id="message" name="message"
                                                  placeholder="如需要请输入备注." rows="3
										"></textarea>
                                </div>
                            </div>

                        </fieldset>

                        <script language="javascript" type="text/javascript">
                            function check(flag) {  //获得通过或不通过的值
                                var url = "/admin/check_driver?phone=";
                                url += $("input#account").attr('placeholder');
                                url += "&flag=";
                                url += flag;
                                $.get(url, function (data, status) {
                                    if (status == 'success') {
                                        alert('成功!');
                                        location.reload();
                                    }
                                });
                            }

                            function deleteuser() {
                                //删除操作相应代码
                            }

                        </script>

                        <div style="text-align:center" id="change">

                            <button type="button" class="btn btn-default btn-md" id="yespass" value="yes"
                                    onclick="check(1)">通过
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-default btn-md" onclick="check(0)">不通过</button>
                            &nbsp;
                            <button type="button" class="btn btn-default btn-md"><a href="../show_drivers"> 返回</a>
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div><!--/.col-->

    </div><!--/.row-->
</div>    <!--/.main-->


<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/chart-data.js"></script>
<script src="/static/js/easypiechart.js"></script>
<script src="/static/js/easypiechart-data.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script>
    $('#calendar').datepicker({});

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>

<script type="text/javascript">
    $(function () {
        $("#carphoto").click(function () {
            var width = $(this).width();
            if (width == 200) {
                $(this).width(400);
                $(this).height(250);
            }
            else {
                $(this).width(200);
                $(this).height(150);
            }
        });

        $("#driverphoto").click(function () {
            var width = $(this).width();
            if (width == 200) {
                $(this).width(400);
                $(this).height(250);
            }
            else {
                $(this).width(200);
                $(this).height(150);
            }
        });
    });
</script>


<!-- 新消息标题栏闪烁显示 -->
<script>

var newMessageRemind={
	_step: 0,
	_title: document.title,
	_timer: null,

	//显示新消息提示
	show:function(){
		var temps = newMessageRemind._title.replace("【　　　】", "").replace("【新消息】", "");
		newMessageRemind._timer = setTimeout(function() {
			newMessageRemind.show();

			//这里写Cookie操作
			newMessageRemind._step++;
			if (newMessageRemind._step == 3) { newMessageRemind._step = 1 };
			if (newMessageRemind._step == 1) { document.title = "【　　　】" + temps };
			if (newMessageRemind._step == 2) { document.title = "【新消息】" + temps };
		}, 
		800);
		return [newMessageRemind._timer, newMessageRemind._title];
	},
			
	//取消新消息提示
	clear: function(){
		clearTimeout(newMessageRemind._timer );
		document.title = newMessageRemind._title;
		//这里写Cookie操作
	}
};

//newMessageRemind.show();  // *********************************显示新消息标题栏闪烁提示 调用此函数

function clearNewMessageRemind() {    //**********************取消新消息标题栏闪烁提示 调用此函数
	newMessageRemind.clear();
}

</script>


<!-- 新消息管理员ID右侧小红点显示 -->
<script>
function showredspot(){		// *********************************显示小红点调用此函数
	document.getElementById("redspot").style.display="block";
}

function hideredspot(){		// *********************************隐藏小红点调用此函数
	document.getElementById("redspot").style.display="none";
}
</script>

<!-- 搜索功能 -->
<script>
  $(function() {
    var availableTags = [
      "司机用户管理",
      "广告商用户管理",
      "广告管理",
      "司机领取广告记录",
      "广告被领取记录",
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script type="text/javascript">
		window.onload = function(){
			var oBtn = document.getElementById("btn");
			var oTxt = document.getElementById("tags");
			oBtn.onclick = function(){
				if(oTxt.value == "司机用户管理"){
					url = "file:///C:/admin/show_drivers";
				}
				else if(oTxt.value == "广告商用户管理"){
					url = "file:///C:/admin/show_advters";
				}
				else if(oTxt.value == "广告管理"){
					url = "file:///C:/admin/show_advs";
				}
				else if(oTxt.value == "司机领取广告记录"){
					url = "file:///C:/admin/drivers_history";
				}
				else if(oTxt.value == "司机领取广告记录"){
					url = "file:///C:/admin/advs_history";
				}
				else{
					url = "#";
					alert("不存在该页面！");
				}
				window.location.href = url;
			}
		}
</script>
</body>

</html>
