<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD管理平台</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/datepicker3.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/dateRange.css" rel="stylesheet" type="text/css">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span>MovingAD</span>管理平台</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user">{{ name }}<span class="caret"></span></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 个人信息</a></li>
                        <li><a href="/admin/show_drivers" onclick="clearNewMessageRemind();hideredspot();return false;"><span
                                class="glyphicon glyphicon-cog"></span> 私信</a></li>
                        <li><a href="/admin/logout"><span class="glyphicon glyphicon-log-out"></span> 退出账号</a></li>
                    </ul>
                </li>
            </ul>
            <i id="redspot"
               style="display:none;background:#f00;border-radius:50%;width:10px;height:10px;top:20px;right:10px;position:absolute;"></i>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" style="z-index:-1">

    <form role="search">
        <div class="form-group">
            <input type="text" id="tags" placeholder="搜索" class="form-control" style="width:135px;display:inline">
            <input type="button" style="display:inline" class="btn btn-primary" value="跳转" id="btn"/>
        </div>
    </form>

    <ul class="nav menu">
        <li><a href="/admin/index"><span class="glyphicon glyphicon-dashboard"></span> 主页</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 管理操作 <span data-toggle="collapse" href="#sub-item-1"
                                                                          class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="/admin/show_drivers">
                        <span class="glyphicon glyphicon-share-alt"></span> 司机用户管理
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/show_advters">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告商用户管理
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/show_advs">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list-alt"></span> 查看记录 <span data-toggle="collapse" href="#sub-item-2"
                                                                              class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li>
                    <a class="" href="/admin/drivers_history">
                        <span class="glyphicon glyphicon-share-alt"></span> 司机领取广告记录
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/advs_history">
                        <span class="glyphicon glyphicon-share-alt"></span> 广告被领取记录
                    </a>
                </li>

            </ul>
        </li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 系统通知</a></li>
    </ul>

    <div class="attribution">Copyright © 2016 专业方向综合MovingAD项目组</div>

</div><!--/.sidebar-->


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">系统通知</li>
        </ol>
    </div><!--/.row-->
    <br>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> 发送系统通知</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/admin/send_notice" method="post">
                    <fieldset>
                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="radio">通知对象</label>
                            <div class="col-md-9">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="allusers" checked>全体用户&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="adusers">广告商用户&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="drivers">司机用户
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">通知标题</label>
                            <div class="col-md-9">
                                <input id="name" name="title" type="text" placeholder="请输入系统通知标题..."
                                       class="form-control">
                            </div>
                        </div>


                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">通知内容</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="text" placeholder="请输入系统通知内容..."
                                          rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">有效日期至</label>
                            <div class="col-md-9">
                                <div class="ta_date" id="div_date_demo3">
                                    <span class="date_title" id="date_demo3"></span>
                                    <a class="opt_sel" id="input_trigger_demo3" href="#">
                                        <i class="i_orderd"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 widget-right">
                                <button type="submit" class="btn btn-default btn-md pull-right">发送通知</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
    </div>

    <script language="javascript" type="text/javascript">
        function show(notice_ID, notice_time, notice_title, end_time) {
            var strS = '<tr><td style="width:100px; text-align:center;">' + notice_ID + '</td><td style="width:120px; text-align:center;">' + notice_time + '</td><td style="width:120px; text-align:center;">' + notice_title + '</td><td style="width:300px; text-align:center;">' + end_time + '</td></tr>';
            document.getElementById("change").innerHTML += strS;
        }
    </script>
    <div class="panel panel-default chat">
        <div class="panel-heading">历史通知</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:100px; text-align:center;">编号</th>
                    <th style="width:120px; text-align:center;">发布时间</th>
                    <th style="width:120px; text-align:center;">通知标题</th>
                    <th style="width:300px; text-align:center;">截止日期</th>
                </tr>
                </thead>
                <tbody id="change">
                </tbody>
            </table>
        </div>
    </div>

</div>


<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/chart-data.js"></script>
<script src="/static/js/easypiechart.js"></script>
<script src="/static/js/easypiechart-data.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/dateRange.js"></script>

<script>
    $(document).ready(function () {
        $.get("/admin/get_notice", function (data, status) {
            if (status == 'success') {
                var json = JSON.parse(data);
                for (var i = 0; i < json.length; i++) {
                    var notice = json[i];
                    show(notice['ID'], notice['start_time'], notice['title'], notice['end_time'])
                }
            }
        });
    });
</script>


<script type="text/javascript" src="/static/js/adm_red_point.js"></script>

<script>
    show_red_point("{{ admin_message }}")
</script>
<!--搜索功能-->
<script>
    $(function () {
        var availableTags = [
            "司机用户管理",
            "广告商用户管理",
            "广告管理",
            "司机领取广告记录",
            "广告被领取记录",
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>
<script type="text/javascript">
    window.onload = function () {
        var oBtn = document.getElementById("btn");
        var oTxt = document.getElementById("tags");
        oBtn.onclick = function () {
            if (oTxt.value == "司机用户管理") {
                url = "/admin/show_drivers";
            }
            else if (oTxt.value == "广告商用户管理") {
                url = "/admin/show_advters";
            }
            else if (oTxt.value == "广告管理") {
                url = "/admin/show_advs";
            }
            else if (oTxt.value == "司机领取广告记录") {
                url = "/admin/drivers_history";
            }
            else if (oTxt.value == "司机领取广告记录") {
                url = "/admin/advs_history";
            }
            else {
                url = "#";
                alert("不存在该页面！");
            }
            window.location.href = url;
        }
    }
</script>


<!-- 日期控件 -->
<script type="text/javascript">
    var dateRange = new pickerDateRange('date_demo3', {
        aRecent7Days: 'aRecent7DaysDemo3', //最近7天
        isTodayValid: false,
        //startDate : '2013-04-14',
        //endDate : '2013-04-21',
        //needCompare : true,
        //isSingleDay : true,
        //shortOpr : true,
        defaultText: ' 至 ',
        inputTrigger: 'input_trigger_demo3',
        theme: 'ta',
        success: function (obj) {
            $("#dCon_demo3").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
        }
    });

</script>


</body>

</html>
