/*

Visual Admin Template

TABLE OF CONTENT
	1. Universal Styles
	2. Left Column
	3. Right Column
	4. main content
    5.司机个人主页主体
    6.司机安全中心
----------------------------------------------*/
/* 1. Universal Styles
----------------------------------------------*/
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 13px;
}

body, .left-nav {
    /*background: #1f2124;*/
    background: #262626;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    color: #7f7f7f;
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

nav li {
    font-size: 1.1em;
    list-style: none;
    text-transform: uppercase;
}

.nav-fix-top {
    z-index: 1;
}

.site-header {
    z-index: 10;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block;
}

.position-relative {
    position: relative;
}

.blue-text {
    color: #39ADB4;
}

.white-text {
    color: white;
}

.green-bg {
    background-color: #39ADB4;
}

.yellow-bg {
    background-color: #D8D138;
}

.white-bg {
    background-color: white;
}

.white-bg .fa-times {
    background-color: #d7d7d7;
}

.white-bg .fa-times:hover {
    background: #83ccd1;
}

.orange-bg {
    background-color: #F17A54;
    color: white;
}

.orange-bg .fa-times {
    background-color: #F0A790;
}

.orange-bg .fa-times:hover {
    background-color: #E14311;
}

.pink-bg {
    background-color: #D7425C;
    color: white;
}

.pink-bg .fa-times {
    background-color: #E57C8F;
}

.pink-bg .fa-times:hover {
    background-color: #BD1F3B;
}

.blue-bg {
    background-color: #3275BB;
    color: white;
}

.blue-bg .fa-times {
    background-color: #6792C0;
}

.blue-bg .fa-times:hover {
    background-color: #2C639C;
}

.light-gray-bg {
    background-color: #efefef;
}

.padding-right-25 {
    padding-right: 25px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-10 {
    margin: 10px;
}

.width-100 {
    width: 100%;
}

.no-border {
    border: none;
}

.border-radius-10 {
    border-radius: 10px;
}

/* 2. Left Column
-----------------------------*/
.sidebar {
    width: 300px;
}

.square {
    width: 25px;
    height: 25px;
    border: 3px solid #5bc0de;
    display: inline-block;
    vertical-align: middle;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.site-header {
    margin: 25px 30px;
}

.site-header h1 {
    color: white;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0 5px;
    /*text-transform: uppercase;*/
    vertical-align: middle;
}

.profile-photo-container {
    position: relative;
}

.profile-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.profile-photo-overlay:hover {
    background-color: rgba(4, 152, 114, 0);
}

.form-control:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px #09F, 0 0 8px #5bc0de;
}

.form-control.highlight {
    background-color: #39ADB4;
    color: white;
}

.form-control.highlight::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}

.form-control.highlight:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
}

.form-control.highlight::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
}

.form-control.highlight:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}

.fa-search {
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    color: white;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.mobile-menu-icon {
    cursor: pointer;
    display: none;
}

.left-nav li {
    font-weight: 300;
}

.left-nav a.active,
.left-nav a:hover {
    background: #18191b;
    border-left: 8px solid #5bc0de;
}

.left-nav a {
    color: #e9e9ea;
    display: block;
    padding: 30px;
    transition: all 0.3s ease;
}

.left-nav .fa {
    margin-right: 15px;
}

/* 3. Right Column
------------------------------*/
.top-nav-container {
    /*background-color: rgba(204,255,255,1);*/
    background: white;
    padding: 28px 50px;
    box-shadow: 0px 0px 2px 2px rgba(161, 159, 159, 0.18);
}

.top-nav li {
    float: left;
    list-style: none;
}

.top-nav a {
    color: darkgray;
    display: block;
    padding: 0 50px;
    border-left: 2px solid black;
}

.top-nav li:last-child a {
    border-right: 2px solid black;
}

.top-nav a:hover,
.top-nav a.active {
    color: black;
}

/* 4.Main Content Area */
.content {
    margin-top: 0px;
    min-height: 600px;
    padding: 0;
    overflow-x: hidden;
}

.content-container {
    padding: 40px 50px;
}

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.col-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

/* Content Widget */
.content-widget {
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin: 10px;
    box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
}

.content-widget.no-padding {
    padding: 0;
}

.fa-times {
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 4px 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    transition: all 0.3s ease;
}

.fa-heart {
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    transition: all 0.3s ease;
}

.fa-heart:hover {
    color: #39ADB4;
}

.progress {
    display: block;
}

.panel-default > .panel-heading {
    /*background-color: #39ADB4;*/
    background-color: #5bc0de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 15px;
}

.panel-default .fa-times {
    top: 12px;
    background-color: #67B5B9;
}

.panel-default .fa-times:hover {
    background-color: #09F;
}

.panel {
    border-radius: 10px;
}

.pagination-wrap {
    margin-right: 10px;
    text-align: right;
}

.pagination > li > a {
    border-color: #E9E8E8;
    color: #a6a6a6;
    margin: 2px;
    padding: 10px;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    background-color: #5bc0de;
    border-color: #E9E8E8;
}

/* 4. Main Content
------------------------------*/
.advertisement-summit {
    background: white;
}

.form-control {
    margin-bottom: 20px;
}

.container {
    border-radius: 8px;
    border: 2px solid #5bc0de;
    width: 80%;
    margin: 20px auto;
    padding: 20px 60px;
}

#btn-ad-summit {
    margin-bottom: 20px;

}

#btn-ad-summit:hover {
    background: #5bc0de;
    color: white;
}

.btn-primary {
    background: #5bc0de;
    border: 1px solid #5bc0de;
}

.btn-primary:hover {
    background: #337ab7;
    color: white;

}

/*========5.司机个人主页主体============*/
.indivisual-info {
    padding: 0 30px;
    /*background: whitesmoke;*/
    /*height: 173px;*/
}

.indivisual-left, .indivisual-right {
    display: inline;
}

.indivisual-left {
    float: left;
    padding: 34px 0;
}

.indivisual-left img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    /*border: 1px solid black;*/

}

.indivisual-left .username p {
    margin-left: 100px;
    font-size: 20px;
    line-height: 35px
}

.indivisual-left i {

    margin: 8px 40px 0 0px;
}

.indivisual-right {
    border-left: 1px dotted black;
    padding: 34px 0;
}

.indivisual-right table {
    padding-top: 30px;
}

.indivisual-right .btn {
    width: 150px;
    height: 80px;
    font-size: 22px;
    float: right;
    margin-top: -15px;
    transition: all 0.3s;
}

.indivisual-right .money-table {
    font-size: 20px;

}

.indivisual-task .task-title {
    font-size: 22px;
    text-align: center;

}

.indivisual-ad .pagination li a {
    padding: 10px 15px;

}

.indivisual-task .task-title li {
    cursor: pointer;
    padding-bottom: 13px;
}

.indivisual-task .task-title li:hover {
    color: black;
}

.indivisual-task .task-title li {
    color: darkgray;
}

.indivisual-task .task-title li.on {
    border-bottom: 2px solid black;
    color: black;
}

/*=============6.司机安全中心==============*/
.indivisual-security-info {
    padding: 40px 80px;
    color: #9a9a9a;
    font-size: 14px;
    background-color: #f8f8f8;
}

.indivisual-security-info strong {
    font-size: 20px;
    color: #4c4c4c;
    font-weight: 400;
    margin-right: 22px;
    /*display: block;*/
}

.indivisual-security-body {
    background: #fff;
    padding: 0 0 130px;
    min-height: 800px;
}

.security-list {
    border-top: 1px solid #e6e6e6;
}

.security-list .details {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 30px 20px 30px 65px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.security-list li .operate {
    position: absolute;
    top: 50%;
    display: block;
    right: 20px;
}

.security-list li a:hover {
    text-decoration: underline;

}

.security-list li i {
    font-size: 24px;
}

.security-list li h4 {
    color: #9a9a9a;
    font-size: 14px;
}

.security-list li h4 strong {
    font-size: 20px;
    color: #4c4c4c;
    font-weight: 400;
    margin-right: 22px;
    display: block;
}

.security-list li h4 strong span {
    font-size: 14px;
    margin-left: 18px;

}

.home-item {
    padding: 3px;
    background: whitesmoke;
    color: black;
    border-radius: 2px;
    position: relative;
    /*padding: 25px 20px;*/
    /*border-radius: 8px;*/
}

.home-item strong {
    font-size: 24px;
    font-weight: 400;
}

/*personal-letter*/
.panel-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 66px;
    line-height: 45px;
}

.personal-list {
    padding: 30px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 -30px;
}

.personal-head img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.layer-menu-list {
    float: right;
    margin-right: 60px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.personal-cont {
    margin-left: 50px;
}

.more {
    float: right;
    margin-right: 30px;
}

.dropdown-menu {
    left: -40px;
    min-width: 110px;
}

.personal-list:hover {
    background-color: lightgray;
    cursor: pointer;

}

.personal-list .readMess {
    width: 10px;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    background-color: red;
    display: inline-block;
    top: 40%;
}

/*Chat Widget*/

.chat ul {
    list-style: none;
    margin: -15px;
    padding: 15px;
}

.chat ul li {
    margin-bottom: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body {
    margin-left: 80px;
}

.chat ul li.right .chat-body {
    margin-right: 100px;
}

.chat ul li .chat-body p {
    margin-top: 24px;
}

.chat ul .glyphicon {
    margin-right: 5px;
}

.chat .panel-body {
    overflow-y: scroll;
    height: 300px;
}

.chat-body small {
    margin-left: 5px;
}

#message_ul .left span {
    display: inline;
    float: left;
}

#message_ul .left img {
    width: 60px;
    height: 60px;
}

.gly-item {
    margin-right: 18px;
    margin-left: 2px
}

/*取现页面*/
.money-label {
    float: left;
    width: 170px;
    padding-top: 12px;
    text-align: right;
    font-size: 16px;
    margin-right: 30px
}

#money-num li {
    position: relative;
    float: left;
    width: 89px;
    height: 45px;
    line-height: 47px;
    text-align: center;
    margin-right: 18px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    font-size: 16px;
}

#money-num li:hover {

    background: rgba(86, 192, 224, 0.3);
    border: 1px solid #5bc0de;
}

#money-num li.on {
    background: rgba(86, 192, 224, 0.3);
    border: 1px solid #5bc0de;
}

#sel-bank {
    width: 501px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ececec;
    background-color: #e9e9e9;
    padding: 0 20px;
    margin-bottom: 20px;
}

.ad-info.white-bg {
    padding: 30px 30px 100px 30px;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
    min-height: 750px;
}

.details-money {
    position: absolute;
    right: 40%;
    top: 45%;
    font-size: 20px;
}

.details-time {
    position: absolute;
    right: 100px;
    top: 45%;
    font-size: 20px
}

.details-info {
    float: left;
    margin-left: 30px;
}

.details .dropdown-menu {
    width: 140px;
    right: 100px;
}

.details .dropdown-menu li {

}

.back-top {
    position: fixed;
    text-align: center;
    line-height: 60px;
    bottom: 40px;
    z-index: 1005;
    font-size: 28px;
    cursor: pointer;
    right: 40px;
    background-color: lightgray;
    width: 60px;
    height: 60px;
}

.back-top:hover {
    background-color: darkgray;
}

.ad-details-time {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    line-height: 20px;
}

#list-sec li {
    padding: 50px;
    border-bottom: 1px solid lightgray;
}

body {
    font-size: 14px;
    line-height: 200%;
    color: #333;
}

a {
    color: #333;
}

.picker {
    width: 500px;
    margin-top: 20px;
}

.picker input {
    border: 1px solid #CCC;
    padding: 5px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 16px;
    -moz-box-shadow: 0 0 5px #ccc inset;
    -webkit-box-shadow: 0 0 5px #ccc inset;
    box-shadow: 0 0 5px #ccc inset;
}

.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

#regions-info {
    width: 800px;
    margin: 0 auto;
}

#regions-info ul {
    float: left;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-left: 1px dotted #DDD;
}
