<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style-home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>


<!-- Left column -->
<div class="flex-row" style="position:relative;;">
    <div class="back-top" style="display: none;">⬆️</div>
    <div class="sidebar" style="position: fixed;z-index: 1010">
        <header class="site-header" style="z-index: 1010;background-color: black;margin: 0;padding: 25px 30px;">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>
                <li><a href="/adv/home"><i class="fa fa-home fa-fw"></i>用户主页</a></li>
                <li><a href="/adv/security"><i class="fa fa-lock fa-fw" style="font-size: 17px"></i>安全中心</a></li>
                <li><a href="/adv/ad_list/" class="active"><i class="fa fa-list fa-fw"></i>广告明细</a></li>
                <li><a href="/adv/adv_submit"><i class="fa fa-file fa-fw"></i>广告提交</a></li>
                <li><a href="/adv/notice"><i class="fa fa-list fa-fw"></i>系统通知</a></li>
                <li><a href="/adv/logout"><i class="fa fa-eject fa-fw"></i>退出登录</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 light-gray-bg" style="margin-left: 300px">
        <nav class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">用户首页</a></li>
                        <!--<li><a href="">动态信息</a></li>-->
                        <li><a href="">任务栏</a></li>
                        <li><a href="/driver/logout">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="home-item"><p style="font-size: 22px;margin-top: 10px;padding: 0 10px"><i
                class="fa fa-list"></i> 广告列表</p></div>

        <div class="indivisual-security-body col-md-12">
            <ul class="security-list" id="list_ul">

            </ul>

        </div>


    </div>
</div>

<!-- JS -->
<script src="/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script src="/static/js/jquery.lazyload.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/string_format.js"></script>

<script>

    function show_adv(adv_ID, adv_sum, amount, check_flag, post_time, remark) {
        var HTMLText = '<li class="details">\
                    <h4 class="details-info">\
                        <strong>{0}({4})<span></span></strong>\
                        <span style="display: block;margin-top: 10px">剩余条数:{1},审核状态:{2}</span>\
                        <a href="#" class="pull-right operate dropdown-toggle"\
                           data-toggle="dropdown">操作 <span class="caret"></span> </a>\
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1"\
                            style="right: 20px;position: absolute;top: 60%;">\
                            <li role="presentation">\
                                <a role="menuitem" tabindex="-1" href="#" onclick=delete_adv({5}) class="del">删除</a>\
                            </li>\
                            <li role="presentation">\
                                <a role="menuitem" tabindex="-1" href="/adv/ad_details/{5}/">查看详情</a>\
                            </li>\
                            <li role="presentation">\
                                <a role="menuitem" tabindex="-1" href="/adv/ad_history/{5}/">查看播放记录</a>\
                            </li>\
                        </ul>\
                    </h4>\
                    <div class="details-time">\
                        {3}\
                    </div>\
                </li>'.format(adv_sum, amount, check_flag, post_time, remark, adv_ID);
        document.getElementById('list_ul').innerHTML += HTMLText
    }

    function delete_adv(adv_ID) {
        if (confirm('是否删除广告?')) {
            location.href = '/adv/delete_adv/{0}/'.format(adv_ID);
        }
    }
    $(document).ready(function () {

        $(window).scroll(function (e) {
            //若滚动条离顶部大于100元素
            if ($(window).scrollTop() > 100) {
                $(".back-top").fadeIn(1000);//以1秒的间隔渐显id=gotop的元素
            }
            else {
                $(".back-top").fadeOut(1000);//以1秒的间隔渐隐id=gotop的元素
            }

        });

        $(".back-top").click(function () {
            $("body,html").animate({scrollTop: 0}, 300);
        });

        $(".del").click(function () {
            $(this).parents(".details").remove();

        });
        $.get('/adv/ad_list_ajax/', function (data, status) {
            if (status == 'success') {
                var json = JSON.parse(data);
                for (var i = 0; i < json.length; i++) {
                    var adv = json[i];
                    show_adv(adv['adv_ID'], adv['adv_sum'], adv['adv_amounts'], adv['check_flag'], adv['post_time'], adv['remark'])
                }
            }
        })
    })

</script>
</body>
</html>