<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href="/Project/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Project/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Project/static/css/style-home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>


<!-- Left column -->
<div class="flex-row" style="position:relative;;">
    <div class="back-top" style="display: none;">⬆️</div>
    <div class="sidebar" style="position: fixed;z-index: 1010">
        <header class="site-header" style="z-index: 1010;background-color: black;margin: 0;padding: 25px 30px;">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/Project/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>

                <li><a href="/driver/home"><i class="fa fa-home fa-fw"></i>个人主页</a></li>
                <li><a href="/driver/security"><i class="fa fa-lock fa-fw" style="font-size: 17px"></i>安全中心</a></li>
                <li><a href="#" class="active"><i class="fa fa-list fa-fw"></i>广告明细</a></li>
                <li><a href="/driver/chat"><i class="glyphicon glyphicon-envelope gly-item"></i>消息中心<span
                        class="badge pull-right"
                        style="padding: 6px 12px;border-radius: 12px">6</span></a>
                </li>
                <li><a href="/driver/s_notice"><i class="glyphicon glyphicon-info-sign gly-item"></i>通知查看</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 light-gray-bg" style="margin-left: 300px">
        <nav class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">用户首页</a></li>
                        <!--<li><a href="">动态信息</a></li>-->
                        <li><a href="">任务栏</a></li>
                        <li><a href="/driver/logout">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="home-item"><p style="font-size: 22px;margin-top: 10px;padding: 0 10px"><i
                class="fa fa-list"></i> 广告播放记录</p></div>

        <div class="indivisual-security-body col-md-12">
            <ul class="security-list">
                <li class="details">
                    <h4 style="float: left;margin-left: 30px">
                        <strong>name<span></span></strong>
                        <span style="display: block;margin-top: 10px">广告内容简介广告内容简介广告内容简介</span>
                        <a href="/adv/change_phone" class="pull-right operate dropdown-toggle"
                           data-toggle="dropdown">操作 <span class="caret"></span> </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1"
                            style="right: 20px;position: absolute;top: 60%;">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看详情</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看播放记录</a>
                            </li>
                        </ul>
                    </h4>
                    <div class="" style="position: absolute;right: 100px;top: 45%;font-size: 20px">
                        2016-5-5
                    </div>
                </li>
                <li class="details">
                    <h4 style="float: left;margin-left: 30px">
                        <strong>name<span></span></strong>
                        <span style="display: block;margin-top: 10px">广告内容简介广告内容简介广告内容简介</span>
                        <a href="/adv/change_phone" class="pull-right operate dropdown-toggle"
                           data-toggle="dropdown">操作 <span class="caret"></span> </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1"
                            style="right: 20px;position: absolute;top: 60%;">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看详情</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看播放记录</a>
                            </li>
                        </ul>
                    </h4>
                    <div class="" style="position: absolute;right: 100px;top: 45%;font-size: 20px">
                        2016-5-5
                    </div>
                </li>
                <li class="details">
                    <h4 class="details-info">
                        <strong>name<span></span></strong>
                        <span style="display: block;margin-top: 10px">广告内容简介广告内容简介广告内容简介</span>
                        <!--<div class="dropdown">-->
                        <a href="/adv/change_phone" class="pull-right operate dropdown-toggle"
                           data-toggle="dropdown">操作 <span class="caret"></span> </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1"
                            style="right: 20px;position: absolute;top: 60%;">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看详情</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看播放记录</a>
                            </li>
                        </ul>
                        <!--</div>-->
                    </h4>
                    <div class="details-time">
                        2016-5-5
                    </div>


                </li>
                <li style="clear: both;border-bottom: none;height: 0px;padding: 0"></li>
            </ul>

        </div>


    </div>
</div>

<!-- JS -->
<script src="/Project/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/Project/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script src="/Project/static/js/jquery.lazyload.js"></script>
<script src="/Project/static/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        $(window).scroll(function (e) {
            //若滚动条离顶部大于100元素
            if ($(window).scrollTop() > 100)
                $(".back-top").fadeIn(1000);//以1秒的间隔渐显id=gotop的元素
            else
                $(".back-top").fadeOut(1000);//以1秒的间隔渐隐id=gotop的元素
        });

        $(".back-top").click(function () {
            $("body,html").animate({scrollTop: 0}, 300);
        })
    })
</script>
</body>
</html>