<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style-home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>
<!-- Left column -->
<div class="flex-row">
    <div class="sidebar">
        <header class="site-header">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>
                <li><a href="/adv/home" class="active"><i class="fa fa-home fa-fw"></i>用户主页</a></li>
                <li><a href="/adv/security"><i class="fa fa-lock fa-fw" style="font-size: 17px"></i>安全中心</a></li>
                <li><a href="#"><i class="fa fa-list fa-fw"></i>广告明细</a></li>
                <li><a href="/adv/adv_submit"><i class="fa fa-file fa-fw"></i>广告提交</a></li>
                <li><a href="/adv/notice"><i class="fa fa-list fa-fw"></i>系统通知</a></li>
                <li><a href="/adv/logout"><i class="fa fa-eject fa-fw"></i>退出登录</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 light-gray-bg">
        <div class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">用户首页</a></li>
                        <li><a href="">动态信息</a></li>
                        <li><a href="/adv/logout">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="indivisual-security-main">
            <div class="indivisual-security-info col-md-12" style="padding: 40px 40px">
                <p><strong >修改密码</strong></p>
                <p>建议您启用全部安全设置,以保障账户安全</p>
            </div>
            <div class="indivisual-security-body col-md-12">
                <ul class="security-list">
                    <li>
                        <h4>
                            <span>你可以通过以下方式找回登录密码</span>
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-key" style="position: absolute;font-size: 35px;top: 39%;left: 20px;"></i>
                        <h4>
                            <strong style="display: block;line-height: 50px">验证原始密码<span></span></strong>
                            <span>如果您已设置并记得交易密码，且记得注册时的证件号码，请选择此方式</span>
                            <a href="sec-modify-pwd-bypwd.html" class="pull-right">验证 ></a>
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-mobile" style="font-size: 50px;position: absolute;top: 39%;left: 24px;"></i>
                        <h4>
                            <strong style="display: block;line-height: 50px">验证手机+身份证<span></span></strong>
                            <span>如果您的注册号码123******12可正常使用，且记得身份证号码，请选择此方式</span>
                            <a href="sec-modify-pwd-bypho.html" class="pull-right">修改 ></a>
                        </h4>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
</body>
</html>