<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovingAD</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style-home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <style>
        #main > .form-group {
            margin: 55px 0;
        }
    </style>

</head>
<body style="height: 100%">
<!-- Left column -->
<div class="flex-row">
    <div class="sidebar">
        <header class="site-header">
            <div class="square" style="float: left;"></div>
            <div class="text-center">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <div class="profile-photo-container">
            <img src="/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="left-nav">
            <ul>

                <li><a href="/driver/home" class="active"><i class="fa fa-home fa-fw"></i>个人主页</a></li>
                <li><a href="/driver/security"><i class="fa fa-lock fa-fw" style="font-size: 17px"></i>安全中心</a></li>
                <li><a href="/driver/ad_details"><i class="fa fa-list fa-fw"></i>广告明细</a></li>
                <li><a href="/driver/chat"><i class="glyphicon glyphicon-envelope gly-item"></i>消息中心<span
                        class="badge pull-right"
                        style="padding: 6px 12px;border-radius: 12px">{{ count }}</span></a>
                </li>
                <li><a href="/driver/s_notice"><i class="glyphicon glyphicon-info-sign gly-item"></i>通知查看</a></li>
                <li><a href="#"><i class="fa fa-cab fa-fw"></i>任务栏</a></li>
                <li><a href="/driver/logout"><i class="fa fa-eject fa-fw"></i>退出登录</a></li>

            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="content col-1 light-gray-bg">
        <nav class="top-nav-container " style="padding-bottom: 50px">
            <div class="row pull-right">
                <nav class="top-nav col-lg-12 col-md-12 ">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">用户首页</a></li>
                        <!--<li><a href="">动态信息</a></li>-->
                        <li><a href="">任务栏</a></li>
                        <li><a href="/driver/logout">退出登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>

        <div class="ad-info white-bg" style="">
            <div class="white-bg home-item" style="padding-top: 15px">
                <p style="font-size: 22px;padding: 0 10px"><i class="fa fa-dollar"></i> 取现</p>
            </div>
            <div class="col-md-12" style="margin-top: 20px">
                <form class="form-horizontal" id="main">
                    <div class="form-group">
                        <label for="money-num" class="money-label">取现金额: </label>
                        <ul id="money-num">
                            <li class="amount-item">100</li>
                            <li class="amount-item">200</li>
                            <li class="amount-item on">500</li>
                            <li class="amount-item">1000</li>
                            <li class="other-money">其他金额</li>
                        </ul>
                    </div>

                    <div class="form-group" id="other" style="display:none;">
                        <div class="col-md-8 " style="margin-left: 185px;">
                            <input type="text" style="width: 100%;height: 45px;font-size: 18px;text-indent:5%"
                                   placeholder="请输入取款金额">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sel-bank" class="money-label">收款银行</label>
                        <div id="sel-bank" class="col-md-8" style="padding-right: 5px">
                            <p style="font-weight:bold;" id="bank-choose">请选择
                                <span style="margin-left: 10px;color: darkgray;" id="card-choose"></span>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"
                                        style="margin-top: 4px">修改
                                </button>

                            </p>


                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                修改收款银行卡
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="name" class="col-md-3">持卡人姓名:</label>
                                                        <div class="col-md-6">
                                                            <p id="name">{{ name }}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="bank" class="col-md-3">选择银行</label>
                                                        <div class="col-md-6">
                                                            <select id="bank" class="form-control">
                                                                <option value="jianshe">建设银行</option>
                                                                <option value="nongye">农业银行</option>
                                                                <option value="gongshang">工商银行</option>
                                                                <option value="zhongguo">中国银行</option>
                                                                <option value="jiaotong">交通银行</option>
                                                                <option value="youchu">邮储银行</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="card-no" class="col-md-3">
                                                            银行卡号
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input type="text" id="card-no"
                                                                   class=" form-control  ">
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" id="sure" class="btn btn-primary"
                                                    data-dismiss="modal">确定
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary"
                                    style="width: 155px;height: 45px;margin-left: 30px">立即取现
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div style="clear: both"></div>

        </div>
    </div>
</div>

<!-- JS -->
<script src="/static/js/jquery-1.11.1.min.js"></script>      <!-- jQuery -->
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#money-num li").click(function () {
            $(this).siblings().removeClass("on");
            $(this).addClass("on");
        })

        $("#money-num .other-money").click(function () {
            $("#other").show();

        })
        $("#money-num .amount-item").click(function () {

            $("#other").hide();
        })

    });
    
    $('#sure').click(function () {
        var no = $('#card-no').val();
        var bank = $('#bank').val();
        $('#card-choose').text(no);
        $('#bank-choose').text(bank);
    })
</script>
</body>
</html>